# provider
Flask==2.2.2

# packaging
wheel==0.38.4

# testing
pytest==7.2.1
selenium==4.8.0
pyderman==3.3.2
requests==2.28.2

# linting
black==23.1.0

# releasing
semver==2.13.0
git+https://github.com/stefanhoelzl/python-project-tools.git
