# fixed dependencies
brython==3.8.9

# provider
Flask==2.0.3

# packaging
wheel

# testing
pytest==7.1.1
selenium==4.1.3
pyderman==2.0.2

# linting
black==22.1.0

# releasing
semver==2.13.0
git+https://github.com/stefanhoelzl/python-project-tools.git
