<html>
<head>
  <script src="../../js/vue.js"></script>
  <script src="../../js/brython_dist.js"></script>
  <link rel="stylesheet" media="screen" href="style.css">
</head>
<body onload="brython({debug: 1, pythonpath: '../..'})">
  <!-- component template -->
  <script type="text/x-template" id="grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sort_by(key)"
            :id="key"
            :class="{ active: sort_key == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sort_orders[key] ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filtered_data">
          <td v-for="key in columns">
            {{ entry[key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <!-- demo root element -->
  <div id="demo">
    <form id="search">
      Search <input id="query" name="query" v-model="search_query">
    </form>
    <demo-grid
      :content="grid_data"
      :columns="grid_columns"
      :filter_key="search_query">
    </demo-grid>
  </div>

  <script type="text/python" src="app.py"></script>
</body>
</html>
