<html>
<head>
  {% for script in scripts.values() %}
    <script src="{{ script }}"></script>
  {% endfor %}

  {% for stylesheet in stylesheets %}
    <link rel="stylesheet" media="screen" href="{{ stylesheet }}" />
  {% endfor %}
</head>
<body onload="brython({{ brython_args }});">
  {% for id, content in templates.items() %}
    <script type="x-template" id="{{ id }}">
      {{ content }}
    </script>
  {% endfor %}

  <div id="app">
    <img style="display: block; margin: auto;" src="loading.gif" height="50%" />
  </div>
  <script type="text/python" src="__entry_point__.py"></script>
</body>
</html>
