<div>
  <!-- Use the component -->
  <svg width="200" height="200">
    <polygraph :stats="stats"></polygraph>
  </svg>
  <!-- controls -->
  <div v-for="stat in stats">
    <label>{{stat.label}}</label>
    <input type="range" v-model="stat.value" min="0" max="100">
    <span>{{stat.value}}</span>
    <button @click="remove(stat)"
            class="remove"
            :disabled="disable_remove">X</button>
  </div>
  <form id="add">
    <input name="new_label" v-model="new_label">
    <button @click="add">Add a Stat</button>
  </form>
  <pre id="raw">{{ stats }}</pre>
  <p style="font-size:12px">* input[type="range"] requires IE10 or above.</p>
</div>
