<html>
<head>
  
    <script src="vuepy.js"></script>
  
    <script src="vue.js"></script>
  

  
    <link rel="stylesheet" media="screen" href="style.css" />
  
</head>
<body onload="brython();">
  
    <script type="x-template" id="tree-template">
      <li>
  <div
    :class="{bold: is_folder}"
    @click="toggle"
    @dblclick="change_type">
    {{ model.name }}
    <span v-if="is_folder">[{{ open ? '-' : '+' }}]</span>
  </div>
  <ul v-show="open" v-if="is_folder">
    <tree
      class="tree"
      v-for="(model, index) in model.children"
      :key="index"
      :model="model">
    </tree>
    <li class="add" @click="add_child">+</li>
  </ul>
</li>

    </script>
  
    <script type="x-template" id="app-template">
      <div>
    <p>(You can double click on an item to turn it into a folder.)</p>

    <!-- the demo root element -->
    <ul id="demo">
        <tree
          class="tree"
          :model="tree_data">
        </tree>
    </ul>
</div>

    </script>
  

  <div id="app">
    <img style="display: block; margin: auto;" src="loading.gif" height="50%" />
  </div>
  <script type="text/python" src="__entry_point__.py"></script>
</body>
</html>